In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
from math import sqrt
import tensorflow as tf

#Reading in the csv file from the Github repo
url = "https://raw.githubusercontent.com/Andrewli1212/project-4-Italy-Housing/main/Output/sales.csv"
df= pd.read_csv(url)
df.head()

C:\Users\eurib\AppData\Local\Temp\ipykernel_34040\3010066668.py:11: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(url)

,region,city,quarter,price,datetime,parking_spaces,bathrooms_per_room,bathrooms,bedrooms,top_floor,...,common_garden,private_garden,alarm_system,doorman,pool,villa,entire_property,apartment,attic,lofts
0,Sardegna,Valledoria,Via Alessandro Volta,78000.0,2022-12-17,0,0.333333,1.0,3.0,0,...,1,0,0,0,0,0,0,1,0,0
1,Sardegna,San Teodoro,NaN,460000.0,2023-03-31,1,0.666667,2.0,3.0,1,...,0,0,0,1,1,0,0,1,0,0
2,Sardegna,Cagliari,Fiera - Monte Mixi,387000.0,2023-04-18,0,0.500000,2.0,4.0,0,...,0,0,0,0,0,0,0,1,0,0
3,Sardegna,Cagliari,Piazza Giovanni XXIII,257000.0,2023-04-14,0,0.400000,2.0,5.0,0,...,0,0,0,0,0,0,0,1,0,0
4,Sardegna,Budoni,Località Baia Sant'Anna,370000.0,2023-03-31,1,0.666667,2.0,3.0,0,...,0,1,0,0,0,1,0,0,0,0

In [2]:
# Print all the column names in the DataFrame
print(df.columns)

Index(['region', 'city', 'quarter', 'price', 'datetime', 'parking_spaces',
       'bathrooms_per_room', 'bathrooms', 'bedrooms', 'top_floor', 'state',
       'energy_rating', 'sea_view', 'centralized_warming', 'surface',
       'furnished', 'balcony', 'TV_system', 'external_exposure', 'optic_fiber',
       'electric_gate', 'cellar', 'common_garden', 'private_garden',
       'alarm_system', 'doorman', 'pool', 'villa', 'entire_property',
       'apartment', 'attic', 'lofts'],
      dtype='object')

In [3]:
columns_to_drop = ['quarter','state','energy_rating','centralized_warming','alarm_system','entire_property',
                   'bathrooms_per_room','state','private_garden','top_floor','external_exposure']
df = df.drop(columns=columns_to_drop)
# Drop rows with empty values in the entire DataFrame
df.dropna(inplace=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22287 entries, 0 to 22290
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          22287 non-null  object
 1   city            22287 non-null  object
 2   price           22287 non-null  float64
 3   datetime        22287 non-null  object
 4   parking_spaces  22287 non-null  int64
 5   bathrooms       22287 non-null  float64
 6   bedrooms        22287 non-null  float64
 7   sea_view        22287 non-null  float64
 8   surface         22287 non-null  float64
 9   furnished       22287 non-null  int64
 10  balcony         22287 non-null  int64
 11  TV_system       22287 non-null  int64
 12  optic_fiber     22287 non-null  int64
 13  electric_gate   22287 non-null  int64
 14  cellar          22287 non-null  int64
 15  common_garden   22287 non-null  int64
 16  doorman         22287 non-null  int64
 17  pool            22287 non-null  int64
 18  villa           22287 non-null  int64
 19  apartment       22287 non-null  int64
 20  attic           22287 non-null  int64
 21  lofts           22287 non-null  int64
dtypes: float64(5), int64(14), object(3)
memory usage: 3.9+ MB

In [5]:
df.head()

,region,city,price,datetime,parking_spaces,bathrooms,bedrooms,sea_view,surface,furnished,...,optic_fiber,electric_gate,cellar,common_garden,doorman,pool,villa,apartment,attic,lofts
0,Sardegna,Valledoria,78000.0,2022-12-17,0,1.0,3.0,0.0,67.0,0,...,0,1,0,1,0,0,0,1,0,0
1,Sardegna,San Teodoro,460000.0,2023-03-31,1,2.0,3.0,0.0,75.0,1,...,0,0,0,0,1,1,0,1,0,0
2,Sardegna,Cagliari,387000.0,2023-04-18,0,2.0,4.0,0.0,160.0,0,...,0,0,1,0,0,0,0,1,0,0
3,Sardegna,Cagliari,257000.0,2023-04-14,0,2.0,5.0,0.0,136.0,0,...,0,0,0,0,0,0,0,1,0,0
4,Sardegna,Budoni,370000.0,2023-03-31,1,2.0,3.0,0.0,105.0,0,...,0,0,0,0,0,0,1,0,0,0

In [6]:
#generate our categorical variable lists
df_cat= df.dtypes[df.dtypes == "object"].index.tolist()
#check the number of unique values in each column
df[df_cat].nunique()

region        20
city        1429
datetime     430
dtype: int64

In [7]:
# Create a OneHotEncoderInstance
enc= OneHotEncoder(sparse_output=False, drop="first")
#fir and transform the OneHotEncoder using the categorical variable list
encode_df= pd.DataFrame(enc.fit_transform(df[df_cat]))
# Add the encoded variable names to the Dataframe
encode_df.columns = enc.get_feature_names_out(df_cat)
encode_df.head()

,region_Basilicata,region_Calabria,region_Campania,region_Emilia-romagna,region_Friuli-venezia-giulia,region_Lazio,region_Liguria,region_Lombardia,region_Marche,region_Molise,...,datetime_2023-11-03,datetime_2023-11-04,datetime_2023-11-05,datetime_2023-11-06,datetime_2023-11-07,datetime_2023-12-01,datetime_2023-12-04,datetime_2023-12-05,datetime_2023-12-06,datetime_2023-12-07
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
#merge on-hot encoded features and drop the originals
df= df.merge(encode_df, left_index=True, right_index=True)
df=df.drop(columns=df_cat, axis=1)
df.head()

,price,parking_spaces,bathrooms,bedrooms,sea_view,surface,furnished,balcony,TV_system,optic_fiber,...,datetime_2023-11-03,datetime_2023-11-04,datetime_2023-11-05,datetime_2023-11-06,datetime_2023-11-07,datetime_2023-12-01,datetime_2023-12-04,datetime_2023-12-05,datetime_2023-12-06,datetime_2023-12-07
0,78000.0,0,1.0,3.0,0.0,67.0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,460000.0,1,2.0,3.0,0.0,75.0,1,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,387000.0,0,2.0,4.0,0.0,160.0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,257000.0,0,2.0,5.0,0.0,136.0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,370000.0,1,2.0,3.0,0.0,105.0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
X = df.drop(columns=["price"])
y = df["price"]

# Split the preprocessed data into a training and testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [10]:
# Create the StandardScaler instance then fit and scale the data
scaler= StandardScaler()
X_train_scaled= scaler.fit_transform(X_train)
X_test_scaled= scaler.transform(X_test)

In [11]:
# Define the model - deep neural net
number_input_features = X_train.shape[1]
hidden_nodes_layer1= 100
hidden_nodes_layer2=50
hidden_nodes_layer3=25

nn= tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim= number_input_features, activation="relu"))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))
# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="linear"))
# Check model structure
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               189500

 dense_1 (Dense)             (None, 50)                5050

 dense_2 (Dense)             (None, 25)                1275

 dense_3 (Dense)             (None, 1)                 26

=================================================================
Total params: 195851 (765.04 KB)
Trainable params: 195851 (765.04 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [12]:
# Compile the model
nn.compile(loss="mean_absolute_error", optimizer="adam")

In [13]:
# Train the model
fit_model= nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
523/523 [==============================] - 1s 1ms/step - loss: 271286.0625
Epoch 2/100
523/523 [==============================] - 1s 1ms/step - loss: 197839.1406
Epoch 3/100
523/523 [==============================] - 1s 1ms/step - loss: 183849.3281
Epoch 4/100
523/523 [==============================] - 1s 1ms/step - loss: 176931.4062
Epoch 5/100
523/523 [==============================] - 1s 1ms/step - loss: 172469.0781
Epoch 6/100
523/523 [==============================] - 1s 1ms/step - loss: 168970.3906
Epoch 7/100
523/523 [==============================] - 1s 1ms/step - loss: 165914.1406
Epoch 8/100
523/523 [==============================] - 1s 1ms/step - loss: 163064.4219
Epoch 9/100
523/523 [==============================] - 1s 1ms/step - loss: 160295.3125
Epoch 10/100
523/523 [==============================] - 1s 1ms/step - loss: 157396.5781
Epoch 11/100
523/523 [==============================] - 1s 1ms/step - loss: 154417.5625
Epoch 12/100
523/523 [==============================] - 1s 1ms/step - loss: 151415.9688
Epoch 13/100
523/523 [==============================] - 1s 1ms/step - loss: 148511.1562
Epoch 14/100
523/523 [==============================] - 1s 1ms/step - loss: 145875.5156
Epoch 15/100
523/523 [==============================] - 1s 1ms/step - loss: 143454.6875
Epoch 16/100
523/523 [==============================] - 1s 1ms/step - loss: 141042.7500
Epoch 17/100
523/523 [==============================] - 1s 1ms/step - loss: 138947.1719
Epoch 18/100
523/523 [==============================] - 1s 1ms/step - loss: 136761.9219
Epoch 19/100
523/523 [==============================] - 1s 1ms/step - loss: 134769.8750
Epoch 20/100
523/523 [==============================] - 1s 1ms/step - loss: 132920.8125
Epoch 21/100
523/523 [==============================] - 1s 1ms/step - loss: 131306.1094
Epoch 22/100
523/523 [==============================] - 1s 1ms/step - loss: 129940.8203
Epoch 23/100
523/523 [==============================] - 1s 1ms/step - loss: 128755.9141
Epoch 24/100
523/523 [==============================] - 1s 1ms/step - loss: 127685.5938
Epoch 25/100
523/523 [==============================] - 1s 1ms/step - loss: 126930.7656
Epoch 26/100
523/523 [==============================] - 1s 1ms/step - loss: 126093.8047
Epoch 27/100
523/523 [==============================] - 1s 1ms/step - loss: 125422.3203
Epoch 28/100
523/523 [==============================] - 1s 1ms/step - loss: 124840.7500
Epoch 29/100
523/523 [==============================] - 1s 1ms/step - loss: 124271.9609
Epoch 30/100
523/523 [==============================] - 1s 1ms/step - loss: 123636.2969
Epoch 31/100
523/523 [==============================] - 1s 1ms/step - loss: 122998.0625
Epoch 32/100
523/523 [==============================] - 1s 1ms/step - loss: 122507.2500
Epoch 33/100
523/523 [==============================] - 1s 1ms/step - loss: 121983.8281
Epoch 34/100
523/523 [==============================] - 1s 1ms/step - loss: 121443.3047
Epoch 35/100
523/523 [==============================] - 1s 1ms/step - loss: 120837.2188
Epoch 36/100
523/523 [==============================] - 1s 1ms/step - loss: 120276.5391
Epoch 37/100
523/523 [==============================] - 1s 1ms/step - loss: 119736.5938
Epoch 38/100
523/523 [==============================] - 1s 1ms/step - loss: 119132.3672
Epoch 39/100
523/523 [==============================] - 1s 1ms/step - loss: 118690.3203
Epoch 40/100
523/523 [==============================] - 1s 1ms/step - loss: 118061.6719
Epoch 41/100
523/523 [==============================] - 1s 1ms/step - loss: 117734.3984
Epoch 42/100
523/523 [==============================] - 1s 1ms/step - loss: 117016.8516
Epoch 43/100
523/523 [==============================] - 1s 1ms/step - loss: 116873.0938
Epoch 44/100
523/523 [==============================] - 1s 1ms/step - loss: 116011.3828
Epoch 45/100
523/523 [==============================] - 1s 1ms/step - loss: 115788.4688
Epoch 46/100
523/523 [==============================] - 1s 1ms/step - loss: 115165.8047
Epoch 47/100
523/523 [==============================] - 1s 1ms/step - loss: 114868.5156
Epoch 48/100
523/523 [==============================] - 1s 1ms/step - loss: 114327.1172
Epoch 49/100
523/523 [==============================] - 1s 1ms/step - loss: 113937.4688
Epoch 50/100
523/523 [==============================] - 1s 1ms/step - loss: 113291.8906
Epoch 51/100
523/523 [==============================] - 1s 1ms/step - loss: 113107.3750
Epoch 52/100
523/523 [==============================] - 1s 1ms/step - loss: 112496.0234
Epoch 53/100
523/523 [==============================] - 1s 1ms/step - loss: 112183.8125
Epoch 54/100
523/523 [==============================] - 1s 1ms/step - loss: 111575.5625
Epoch 55/100
523/523 [==============================] - 1s 1ms/step - loss: 111331.1641
Epoch 56/100
523/523 [==============================] - 1s 1ms/step - loss: 110865.4297
Epoch 57/100
523/523 [==============================] - 1s 1ms/step - loss: 110540.6016
Epoch 58/100
523/523 [==============================] - 1s 1ms/step - loss: 109979.2734
Epoch 59/100
523/523 [==============================] - 1s 1ms/step - loss: 109779.3594
Epoch 60/100
523/523 [==============================] - 1s 1ms/step - loss: 109148.8359
Epoch 61/100
523/523 [==============================] - 1s 1ms/step - loss: 108975.9609
Epoch 62/100
523/523 [==============================] - 1s 1ms/step - loss: 108398.9219
Epoch 63/100
523/523 [==============================] - 1s 1ms/step - loss: 108154.3047
Epoch 64/100
523/523 [==============================] - 1s 1ms/step - loss: 107641.9141
Epoch 65/100
523/523 [==============================] - 1s 1ms/step - loss: 107390.8594
Epoch 66/100
523/523 [==============================] - 1s 1ms/step - loss: 106928.1875
Epoch 67/100
523/523 [==============================] - 1s 1ms/step - loss: 106563.5156
Epoch 68/100
523/523 [==============================] - 1s 1ms/step - loss: 106116.0391
Epoch 69/100
523/523 [==============================] - 1s 1ms/step - loss: 105940.3359
Epoch 70/100
523/523 [==============================] - 1s 1ms/step - loss: 105357.9531
Epoch 71/100
523/523 [==============================] - 1s 1ms/step - loss: 105260.4453
Epoch 72/100
523/523 [==============================] - 1s 1ms/step - loss: 104818.6875
Epoch 73/100
523/523 [==============================] - 1s 1ms/step - loss: 104443.6328
Epoch 74/100
523/523 [==============================] - 1s 1ms/step - loss: 104165.2578
Epoch 75/100
523/523 [==============================] - 1s 1ms/step - loss: 103828.4531
Epoch 76/100
523/523 [==============================] - 1s 1ms/step - loss: 103494.9141
Epoch 77/100
523/523 [==============================] - 1s 1ms/step - loss: 103152.0938
Epoch 78/100
523/523 [==============================] - 1s 1ms/step - loss: 102900.3516
Epoch 79/100
523/523 [==============================] - 1s 1ms/step - loss: 102602.1328
Epoch 80/100
523/523 [==============================] - 1s 1ms/step - loss: 102241.0781
Epoch 81/100
523/523 [==============================] - 1s 1ms/step - loss: 101939.6953
Epoch 82/100
523/523 [==============================] - 1s 1ms/step - loss: 101546.9766
Epoch 83/100
523/523 [==============================] - 1s 1ms/step - loss: 101410.4062
Epoch 84/100
523/523 [==============================] - 1s 1ms/step - loss: 101023.6250
Epoch 85/100
523/523 [==============================] - 1s 1ms/step - loss: 100696.3672
Epoch 86/100
523/523 [==============================] - 1s 1ms/step - loss: 100478.8281
Epoch 87/100
523/523 [==============================] - 1s 1ms/step - loss: 100166.5938
Epoch 88/100
523/523 [==============================] - 1s 1ms/step - loss: 99957.4609
Epoch 89/100
523/523 [==============================] - 1s 1ms/step - loss: 99575.2812
Epoch 90/100
523/523 [==============================] - 1s 1ms/step - loss: 99459.4219
Epoch 91/100
523/523 [==============================] - 1s 1ms/step - loss: 99125.7188
Epoch 92/100
523/523 [==============================] - 1s 1ms/step - loss: 98786.0938
Epoch 93/100
523/523 [==============================] - 1s 1ms/step - loss: 98554.3047
Epoch 94/100
523/523 [==============================] - 1s 1ms/step - loss: 98427.6641
Epoch 95/100
523/523 [==============================] - 1s 1ms/step - loss: 98078.3047
Epoch 96/100
523/523 [==============================] - 1s 1ms/step - loss: 98064.5469
Epoch 97/100
523/523 [==============================] - 1s 1ms/step - loss: 97538.4141
Epoch 98/100
523/523 [==============================] - 1s 1ms/step - loss: 97521.2031
Epoch 99/100
523/523 [==============================] - 1s 1ms/step - loss: 97036.2500
Epoch 100/100
523/523 [==============================] - 1s 1ms/step - loss: 97187.4922

In [14]:
# Make predictions on the test data
y_pred = nn.predict(X_test_scaled)

# Calculate the Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred)
print(f"Mean Absolute Error (MAE): {mae}")

175/175 [==============================] - 0s 753us/step
Mean Absolute Error (MAE): 155378.73856706676

In [15]:
# Save the trained model
nn.save("Neural_Network_Model/nn_model.keras")